@media (min-width: 320px) {

/*All venues page css*/



	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper {
	    position:relative;
	    width:100%;
	    max-height:400px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper .active-events{
	    position:absolute;
	    top:25px;
	    color:white;
	    text-transform:uppercase;
	    background:#5daad5;
	    padding:10px;
	}




	.view-venues-by-alphabetical-activeevents-popularity .title a{
	    font-family:'ACKelsonBold';
	    color:#484848;
	    font-size:23px;


	}

	.view-venues-by-alphabetical-activeevents-popularity .title {
	     margin: 20px 10px 10px;
	     text-align:center;
	     overflow:hidden;

	}



	.view-venues-by-alphabetical-activeevents-popularity .location {
	    font-size:21px;
	    font-family:'ACKelsonLight';
	    text-align:center;
	}

	.view-venues-by-alphabetical-activeevents-popularity .rating {
		text-align:center;
		padding-bottom:30px;
		min-height:50px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .row {
		margin-top:20px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .info {
	    height:150px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .grid-view{
	    margin-bottom:35px;
	    border-bottom:3px solid #e3e3e3;
	    background-color:#f4f4f4;
	}

	.view-venues-by-alphabetical-activeevents-popularity .grid-view:hover, .view-venues-by-alphabetical-activeevents-popularity .grid-view:active {
	    border-bottom:3px solid #5daad5;
	}

	.page-node-17955 .nav-pills > li> a, .page-node-17955 .nav-pills > li > a:hover, .page-node-17955 .nav-pills > li> a:focus {
	    background-color:transparent;
	    color:#c9c9c9;
	    font-size:14px;
	    font-family:'ACKelsonBold';
	}

	.page-node-17955 .nav-pills > li.active > a, .page-node-17955 .nav-pills > li.active > a:hover, .page-node-17955 .nav-pills > li.active > a:focus {
	    background-color:transparent;
	    color:#5e5e5e;
	    font-size:14px;
	    font-family:'ACKelsonBold';
	}

	.page-node-17955 .all-venues-wrapper .container-fluid {
	    background: url('/sites/all//themes/allcongress/images/all-venues.png') no-repeat center center;
		background-size: cover;
		height:130px;
	}

	.page-node-17955 h1.page-header {
	    display:none;
	}


	.page-node-17955  .all-venues-wrapper .container .col-md-6.venues-header{
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:43px;
	    padding-top:30px;

	}


	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a{
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:21px;
	    padding-top:30px;
	    float:right;
	    border:2px solid white;
	    margin-top:40px;
	    padding:5px;

	}

	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a:hover, .page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a:active{
	    text-decoration:none;
	}

	span.icon.icon-ac-allcongress-webfont-28 {
	    font-size: 21px;
	    display:inline-block;
	    vertical-align:middle;
	    padding-top: 5px;
	    margin-right:5px;
	}

	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a {
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:21px;
	    padding-top:30px;
	    float:right;
	    border:2px solid white;
	    margin-top:40px;
	    padding:2px 10px;

	}

	.page-node-17955  ul.nav.nav-pills {
	    display:inline-block;
	}

	.page-node-17955  .display-view {
	    display:inline-block;
	    float:right;
	    color:#484848;
	    font-size:20px;
	}

	.page-node-17955 .display-view span{
	    font-size:20px;
	    margin:10px;
	    margin-right:0px;
	    display:inline-block;
	}


	.page-node-17955  .view-venues-by-alphabetical-activeevents-popularity{
	    margin-top:40px;
	}

	.page-node-17955  a.list-view-selector, .page-node-17955 a.grid-view-selector {
	    cursor:pointer;
	     color:#939393;
	}

	.page-node-17955 .display-view a.list-view-selector.active, .page-node-17955 .display-view a.grid-view-selector.active {
	    color:#484848;
	}

	.view-venues-by-alphabetical-activeevents-popularity .location .field-name-field-city, .view-venues-by-alphabetical-activeevents-popularity .location .field-name-field-nation {
	    display:inline-block;
	    width:auto;
	}

	/*Theming list-view for all-venues page*/



	.view-venues-by-alphabetical-activeevents-popularity .views-field.views-field-nothing.list-helper-class{
	    background-color:transparent;
	    border-bottom:0px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .featured-image-wrapper {
	    width:25%;
	    display:inline-block;
	    max-height:150px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .info-wrapper{
	    width:65%;
	    display:inline-block;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .active-events{
	   position:absolute;
	   right:0px;
	   text-align:right;
	   bottom:5px;
	   font-size:14px;
	}



	.view-venues-by-alphabetical-activeevents-popularity .list-view.row {
	    position:relative;
	    background-color:transparent;
	    padding-top:0px;
	    margin-top:0px;
	    padding-bottom:20px;
	    border-bottom:2px solid #939393;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .rating {
	    padding-bottom:0px;
	    padding-top:30px;
	}


	.view-venues-by-alphabetical-activeevents-popularity .list-view span.icon.icon-ac-allcongress-webfont-136 {
	    font-size:16px;
	    vertical-align:middle;
	    display:inline-block;
	    padding-top:5px;
	    padding-right:5px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .view-content div .col-md-6.visible-md.hide{
		display:none !important;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view{
	    display:none;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper {
	    height:360px !important;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper span.img.img-responsive {
	    height:100%;
	    width:auto;
	    overflow:hidden;
	}

	.page-node-17955 .venue-views.container .row {
	    display:block;
	    margin:auto;

	}

.page-node-17955 .nav-pills > li> a, .page-node-17955 .nav-pills > li > a:hover, .page-node-17955 .nav-pills > li> a:focus ,
.page-node-17955 .nav-pills > li.active > a, .page-node-17955 .nav-pills > li.active > a:hover, .page-node-17955 .nav-pills > li.active > a:focus{
    font-size:13px;
}


.page-node-17955 .nav > li > a {
    padding-left:0px;
    padding-right:5px;
}


.page-node-17955 .venue-views.container .row {
  width:340px;


}

}


@media (max-width: 340px) {
	  .page-node-17955 .venue-views.container .row {
	        width:320px;

	}
}


@media (min-width: 992px) {



	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper {
	    position:relative;
	    width:100%;
	    max-height:400px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper .active-events{
	    position:absolute;
	    top:25px;
	    color:white;
	    text-transform:uppercase;
	    background:#5daad5;
	    padding:10px;
	}




	.view-venues-by-alphabetical-activeevents-popularity .title a{
	    font-family:'ACKelsonBold';
	    color:#484848;
	    font-size:23px;


	}

	.view-venues-by-alphabetical-activeevents-popularity .title {
	     margin: 20px 10px 10px;
	     text-align:center;
	     overflow:hidden;

	}



	.view-venues-by-alphabetical-activeevents-popularity .location {
	    font-size:21px;
	    font-family:'ACKelsonLight';
	    text-align:center;
	}

	.view-venues-by-alphabetical-activeevents-popularity .rating {
		text-align:center;
		padding-bottom:30px;
		min-height:50px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .row {
		margin-top:20px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .info {
	    height:150px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .grid-view{
	    margin-bottom:35px;
	    border-bottom:3px solid #e3e3e3;
	    background-color:#f4f4f4;
	}

	.view-venues-by-alphabetical-activeevents-popularity .grid-view:hover, .view-venues-by-alphabetical-activeevents-popularity .grid-view:active {
	    border-bottom:3px solid #5daad5;
	}

	.page-node-17955 .nav-pills > li> a, .page-node-17955 .nav-pills > li > a:hover, .page-node-17955 .nav-pills > li> a:focus {
	    background-color:transparent;
	    color:#c9c9c9;
	    font-size:14px;
	    font-family:'ACKelsonBold';
	}

	.page-node-17955 .nav-pills > li.active > a, .page-node-17955 .nav-pills > li.active > a:hover, .page-node-17955 .nav-pills > li.active > a:focus {
	    background-color:transparent;
	    color:#5e5e5e;
	    font-size:14px;
	    font-family:'ACKelsonBold';
	}

	.page-node-17955 .all-venues-wrapper .container-fluid {
	    background: url('/sites/all//themes/allcongress/images/all-venues.png') no-repeat center center;
		background-size: cover;
		height:130px;
	}

	.page-node-17955 h1.page-header {
	    display:none;
	}


	.page-node-17955  .all-venues-wrapper .container .col-md-6.venues-header{
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:43px;
	    padding-top:30px;

	}


	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a{
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:21px;
	    padding-top:30px;
	    float:right;
	    border:2px solid white;
	    margin-top:40px;
	    padding:5px;

	}

	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a:hover, .page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a:active{
	    text-decoration:none;
	}

	span.icon.icon-ac-allcongress-webfont-28 {
	    font-size: 21px;
	    display:inline-block;
	    vertical-align:middle;
	    padding-top: 5px;
	    margin-right:5px;
	}

	.page-node-17955  .all-venues-wrapper  .col-md-6.search-venues a {
	    color:white;
	    font-family:'ACKelsonBold';
	    font-size:21px;
	    padding-top:30px;
	    float:right;
	    border:2px solid white;
	    margin-top:40px;
	    padding:2px 10px;

	}

	.page-node-17955  ul.nav.nav-pills {
	    width:50%;
	    display:inline-block;
	}

	.page-node-17955  .display-view {
	    display:inline-block;
	    float:right;
	    margin-right:20px;
	    color:#484848;
	    font-size:20px;
	}

	.page-node-17955 .display-view span{
	    font-size:20px;
	    margin:10px;
	    margin-right:0px;
	    display:inline-block;
	}


	.page-node-17955  .view-venues-by-alphabetical-activeevents-popularity{
	    margin-top:40px;
	}

	.page-node-17955  a.list-view-selector, .page-node-17955 a.grid-view-selector {
	    cursor:pointer;
	     color:#939393;
	}

	.page-node-17955 .display-view a.list-view-selector.active, .page-node-17955 .display-view a.grid-view-selector.active {
	    color:#484848;
	}

	.view-venues-by-alphabetical-activeevents-popularity .location .field-name-field-city, .view-venues-by-alphabetical-activeevents-popularity .location .field-name-field-nation {
	    display:inline-block;
	    width:auto;
	}

	/*Theming list-view for all-venues page*/



	.view-venues-by-alphabetical-activeevents-popularity .views-field.views-field-nothing.list-helper-class{
	    background-color:transparent;
	    border-bottom:0px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .featured-image-wrapper {
	    width:25%;
	    display:inline-block;
	    max-height:150px;
	    overflow:hidden;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .info-wrapper{
	    width:65%;
	    display:inline-block;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .active-events{
	   position:absolute;
	   right:0px;
	   text-align:right;
	   bottom:5px;
	   font-size:14px;
	}



	.view-venues-by-alphabetical-activeevents-popularity .list-view.row {
	    position:relative;
	    background-color:transparent;
	    padding-top:0px;
	    margin-top:0px;
	    padding-bottom:20px;
	    border-bottom:2px solid #939393;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view .rating {
	    padding-bottom:0px;
	    padding-top:30px;
	}


	.view-venues-by-alphabetical-activeevents-popularity .list-view span.icon.icon-ac-allcongress-webfont-136 {
	    font-size:16px;
	    vertical-align:middle;
	    display:inline-block;
	    padding-top:5px;
	    padding-right:5px;
	}

	.view-venues-by-alphabetical-activeevents-popularity .view-content div .col-md-6.visible-md.hide{
		display:none !important;
	}

	.view-venues-by-alphabetical-activeevents-popularity .list-view{
	    display:none;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper {
	    height:360px !important;
	}

	.view-venues-by-alphabetical-activeevents-popularity .featured-image-wrapper span.img.img-responsive {
	    height:100%;
	    width:auto;
	    overflow:hidden;
	}

}
