/*EVENT page */

$module: 'event-header';

.#{$module} {
  background: url('../images/LDS_Conference_Center_interior_panoramic.jpg') no-repeat center center;
  background-size: cover;


  &__title {
    font-size: $font-size-h1;
    font-weight: 300;
    color: #fff;
    line-height: $headings-line-height;
    margin: 30px auto;
  }

  &__register {
    color: #fff;
    font-size: $font-size-h4;
    font-weight: 400;
    margin: 30px auto;
    text-align: center;
  }

  &__days-left {
    color: #fff;
    font-size: $font-size-h2;
    font-weight: 600;
    display: inline;
  }

  &__booking {
    display: block;

    & svg {
        stroke: #fff;
        fill: #fff;
        float: left;
        display: inline-block;
        height: 1.4em;
        width: 1.3em;
        margin-right: 5px;
    }

    & .book-title {
        border-radius: 0;
        border: none;
        background-color: orange;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        padding: 10px 70px;
        font-weight: 800;
    }

  }

}




.events-navbar {
    ul#events-submenu {
      li {
          a {
            color:#484848;
            text-transform:uppercase;
            font-size:13px;
            font-weight: 500;
            height:50px;
            cursor: pointer;

            &:active {
                background-color:none;
                background-image:none;
                color:#5daad5;
                cursor: pointer;
            }

            &:hover {
                background-color:none;
                background-image:none;
                color:#5daad5;
                cursor: pointer;
            }

            & svg {
                width: 15px;
                height: 20px;
            }

          }
      }
    }
}


.general-info {
   .subtitle {
      font-weight: bold;
   }

   .hotel-info {
      border-top: 1px solid #000;
      padding-top: 20px;
   }

   .hotel-location {
     float: left;
   }

   .venue-more {
      float: right;
      margin-top: -20px;

      div.text {
          color: #000;
          border: 3px solid #000;
          display: inline-block;
          padding: 5px;
          text-transform: uppercase;
      }
   }
}

.synopsis {
  padding-bottom: 20px;
}

.venue-description {
  padding: 20px 0;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.weather {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.welcome-message {
  padding-bottom: 20px;
  margin-bottom: 20px;
}




.background-color-grey {
      background-color: #f3f3f3;
}
.img-responsive {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.owl-theme .owl-controls {
    margin-top: -1px;
    text-align: center;
}

#sync1 .owl-controls .owl-buttons div {
  margin: 0;
  padding: 0;
}
#sync1 .owl-buttons i {
  line-height: 120px;
}
#sync1 .owl-buttons .owl-prev {
  position: absolute;
  z-index: 90000;
  width: 25px;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #3db5e6;
  font-size: 30px;
  left: 0;
}
@media only screen and (max-width: 500px) {
  #sync1 .owl-buttons .owl-prev {
    top: 0;
    bottom: 0;
    height: auto !important;
  }
  #sync1 .owl-buttons .owl-prev i {
    position: absolute;
    top: 50%;
  }
}
@media only screen and (max-width: 500px) {
  #sync1 .owl-buttons .owl-prev i {
    left: 1px;
  }
}
#sync1 .owl-buttons .owl-next {
  position: absolute;
  z-index: 90000;
  width: 25px;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #3db5e6;
  font-size: 30px;
  right: 0;
}
@media only screen and (max-width: 500px) {
  #sync1 .owl-buttons .owl-next {
    top: 0;
    bottom: 0;
    height: auto !important;
  }
  #sync1 .owl-buttons .owl-next i {
    position: absolute;
    top: 50%;
  }
}
@media only screen and (max-width: 500px) {
  #sync1 .owl-buttons .owl-next i {
    right: 1px;
  }
}
@media only screen and (max-width: 500px) {
  #sync2 {
    display: none !important;
  }
}










.events-info-wrapper {
    .title {
      font-weight: 400;
      font-size: 2.3em;
      color: #000;
      border-bottom: 1px solid;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .section-title {
      font-weight: 400;
      font-size: 2.3em;
      color: #000;
      border-bottom: 1px solid;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
}





span.icon-ac-allcongress-webfont-78 {
    font-size:20px;
    display:inline-block;
    padding-top:5px;
}

div#events-navbar .collapse.navbar-collapse {
    padding-left:0px;
    padding-right:0px;
}

div#events-navbar .container {
    padding-left:0px;
    padding-right:0px;
}

div#event-preview {
    padding-top:0px;
}






.button-wrapper  {
    height:135px;
    text-align:center;

    display:table;
    width:100%;
    font-size:26px;

    &  a{
        display:table-cell;
        vertical-align:middle;
        width:100%;

        div.text{
            color:black;
            border: 3px solid #000;
            display: inline-block;
            padding: 5px;
            width: 185px;
        }
    }






}


.find-venues{
    background: url('/sites/default/files/venue-bg.jpg') no-repeat center center;
    background-size: cover;

    a div.text{
        color:white;
        border:6px solid white;
    }
}

.find-pcos {

    background: url('/sites/default/files/pco-bg.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 10px;

    & a {
        div.text{
            color:black;
            border: 6px solid #000;
            display: inline-block;
            padding: 5px;
            width: 185px;


        }
    }
}

#searchboxInc {
    width: 100%;
}

.reservation {
    background: #F5F5F5;
    margin: 10px 0;
    padding: 15px;

    & .hotel-reservation {
    text-transform:uppercase;
    color:#484848;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    padding: 15px 0;
    border: none;
    }

}


.booking-widget {
    margin-left:0px;
}



.event-panel {
    color:#fff;
    background-color:$brand-primary;
    margin-bottom: 2px;
    padding: 10px;

    & .title {
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 0;
        padding: 15px 0;
        border: none;
    }

    & svg {
        stroke: #fff;
        fill: #fff;
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 10px;
        margin-top: 5px;
    }

    & .qr-code {
        margin-top: 15px;
    }
}



.section-overview {
    margin-top: 20px;
}




.events-navbar nav ul li:hover:after {
    border-top:0px;
}

.events-navbar nav ul li:hover {
    background-color:white;
}

.event-panel .panel-button a, .event-panel .panel-button a:hover, .event-panel .panel-button a:active{
    color:white;
    cursor:pointer;
}




.section-title-triangle-grey:after, .section-title-triangle-grey:before {
    display:none;

}








.section-relevant {
    position: relative;
    background-color:#F3F3F3;
    padding-top:20px;
    padding-bottom:50px;

    & .section-title {
      border-bottom: none;
    }

    h2 {
        text-align: center;
        margin-bottom: 0;
        color: #B6B6B6;
        font-weight: 600;
        padding: 10px;
        text-transform: uppercase;
    }

    & .text-center.front-cta {

        padding: 10px;
        width: 60%;
        margin: 20px auto;
        border: 3px solid #5daad5;
        text-decoration: none;
        font-weight: 800;
        color: #5daad5;

        @media only screen and (min-width: $screen-tablet) {
            position: absolute;
            bottom: initial;
            top: 0;
            max-width: 200px;
            text-align: left;
            left: 0;
            padding: 7px;
            margin-top: 10px;
            }


        & a {
            font-weight: 600;
            }
    }


    & .location-info {
        padding-right: 0;
        margin-right: 0;
    }

    & .owl-pagination {
        display: block;

        @media only screen and (min-width: $screen-desktop) {
          display: block;
        }
    }


    & .relevant-event {
        position: relative;

        & .cta {
            display: none;
            }

        &:hover .cta {
            display: block;
            position: absolute;
            background-color: #000;
            margin-top: -36px;
            width: 100%;
            opacity: 0.7;
            color: #fff;
            line-height: 36px;
            padding-left: 5px;
        }

        /* Match any class name that starts with icon */
        & [class^="icon"] {
            height: 17px;
            position: relative;
            top: 3px;
            width: 14px;
            margin-right: 5px;
        }

        & .title {
            font-weight: bold;
            margin: 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 20px;
            font-weight: normal;
            text-align: center;

            @media screen and (min-width: $screen-tablet) {
                text-align: left;
            }

            a {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

            a:active {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

            a:hover {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

        }

        & .featured-event-image {
            position: relative;
            margin-bottom: 20px;
        }

        & span.btn {
            float: right;
        }

        & .location-info {
            font-weight: bold;
            color: #484848;
        }

        & .event-date {
            font-weight: bold;
            color: #484848;
        }

        & span.relevant-event-label {
            color: #383838;
            font-weight: bold;
        }

        & span.relevant-event-field a {
            color: #383838;
            text-decoration: none;
            word-wrap: break-word;
        }

    }

}
