// Map section used mainly at frontpage.
//
// :hover             - Subtle hover highlight.
// .stars-given       - A highlight indicating you've already given a star.
// .stars-given:hover - Subtle hover highlight on top of stars-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
// Styleguide 1.0.1.
.map-cta {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(60, 160, 201, 0.74);
    padding-top: 50px;
    z-index: 997;
    h2.text-center {
        font-size: 3.8em;
        line-height: 1.4em;
        font-weight: 200;
        span {
            font-weight: 700;
        }
    }
    p.text-center {
        font-size: 1em;
        color: #fff;
    }
}
.map-cta a.btn {
    margin: 0 auto;
    display: block;
    width: 190px;
    padding: 28px;
    line-height: 0;
    margin-top: 40px;
}
.map-cta p.text-center {
    font-size: 1.3em;
    max-width: 70%;
    margin: 0 auto;
}
.map-cta .btn.btn-green {
    background: #0EC244;
}
.map-canvas-wrapper {
    min-height: 570px;
    background: #e9e9e9;
}
.main-search-wrapper {
    position: absolute;
    bottom: 0;
    /*overflow: hidden;*/
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 998;
}
.main-search-inner {
    display: block;
    float: left;
    width: 80%;
    background: #fff;
    position: relative;
    padding: 10px;
    background: rgba(51, 51, 51, 0.6);
    z-index: 998;
}
.search-by-specialty-wrapper {
    float: left;
    min-height: 90px;
    width: 20%;
    background: rgba(51, 51, 51, 0.6);
    color: #fff;
    margin-left: -10px;
    margin-right: 10px;
    z-index: 998;
    /*padding-left: 40px;*/
}
.search-by-specialty-inner {
    background: #3db5e6;
    padding-left: 54px;
    margin: 10px;
    cursor: pointer;
}
.specialties [type="checkbox"]:checked,
.specialties [type="checkbox"]:not(:checked) {
    visibility: visible!important;
    position: relative;
    left: auto;
}
.search-by-specialty-dropdown {
    position: absolute;
    top: 100px;
    z-index: 998;
    right: 14px;
    left: 15px;
    display: none;
}
.search-by-specialty-dropdown.open {
    display: block;
}
.search-dropdown-content,
.specialties {
    padding: 20px;
    background: #3db5e6;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%!important;
}
.dropd-wrapper {
    position: relative;
}
.search-dropdown-content {
    min-height: 100px;
    position: absolute;
    top: 45px;
    left: 0;
    width: 166px!important;
    right: auto;
    margin-left: 0;
}
.search-dropdown-content .dropd-item label,
.specialties .dropd-item label {
    display: block;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}
.search-dropdown-content .dropd-item label:hover,
.specialties .dropd-item label:hover {
    text-decoration: underline;
}
.search-dropdown-content .dropd-item label input,
.specialties .dropd-item label input {
    float: left;
    margin-right: 10px;
    display: inline-block!important;
    position: relative;
    left: auto;
    right: auto;
    visibility: visible;
}
.form-actions-wrapper.clearfix {
    border-top: 1px solid #fff;
    padding-top: 11px;
}
.specialties .form-actions-wrapper .check-all,
.specialties .form-actions-wrapper .clear-all {
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.specialties .form-actions-wrapper .check-all:hover,
.specialties .form-actions-wrapper .clear-all:hover {
    text-decoration: underline;
}
.main-search-inner input {
    margin: 0;
}
.search-by-specialty-dropdown.open {
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 !important;
    top: 0;
}
.search-by-specialty-dropdown.open > .specialties {
    margin: 0;
}
.search-by-specialty-dropdown.open .specialties form {
    height: 525px;
    overflow-y: auto;
    overflow-x: hidden;
}
/**
     * Main search (tagit)
     */
.ul.tagit {
    border-radius: 0!important;
}
ul.tagit {
    border-radius: 0;
    background: #fff;
    border: none;
    /*height: 36px;*/
    margin: 0;
}
input.ui-widget-content.ui-autocomplete-input {
    height: 22px;
}
input.ui-widget-content.ui-autocomplete-input:focus {
    box-shadow: none;
    border: none;
}
li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all {
    background: #fff!important;
    border-radius: 0;
    padding-right: 28px;
    padding-left: 10px;
    border: 1px solid #e3e3e3!important;
    color: #595959;
}
li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all .tagit-label {
    color: #595959!important;
}
span.ui-icon.ui-icon-close {
    background: url('../images/icon-close.png') no-repeat center center #c4c4c4;
}
a.tagit-close {
    right: 5px!important;
}
.tagit-new input {
    background: none!important;
}
.main-search-inner input[name="search"],
.main-search-inner input[name="search"]:focus {
    border: none;
    box-shadow: none;
    padding: 4px 315px 4px 4px;
    background: #fff;
    padding-left: 20px;
    box-sizing: border-box;
    height: 35px;
    font-size: 20px;
    color: #a0a0a0;
}
.main-search-inner .main-search-wrapper.clearfix {
    width: 100%;
}
.main-search-inner .search-by {
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}
.main-search-inner .search-dropdown-content {
    display: none;
}
.main-search-inner .search-dropdown {
    color: #fff;
    background: #3db5e6;
    padding: 10px 25px 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.search-dropdown-content.open {
    display: block;
    z-index: 999;
}

.main-search-inner .search-dropdown.dropd .icon {
    stroke: #fff;
    fill: #fff;
      float: right;
      display: inline-block;
      height: 1.4em;
      width: 1.3em;

  }

.map-search-submit input {
    background: #0876a9;
    border: none;
    color: #fff;
    padding: 15px;
    display: block;
}
.map-search-submit {
    position: absolute;
    right: 22px;
    top: 22px;
    display: none;
}
.search-by-specialty-wrapper .text-wrapper {
    padding-top: 23px;
    float: left;
}
.search-by-specialty-wrapper .large-text {
    font-size: 18px;
}
.search-by-specialty-wrapper i.fa-angle-right {
    font-size: 28px;
    vertical-align: top;
    line-height: 90px;
    display: block;
    float: left!important;
    margin-left: 20px;
}
/**
     * Search-location dropdown
     */
.search-dropdown-content input[type="text"],
.search-dropdown-content input[type="text"]:focus {
    background: #fff;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 35px;
    padding-right: 10px;
    box-sizing: border-box;
}
.dropd-date,
.dropd-location {
    min-width: 195px;
}

.dropd-date form,
.dropd-location form{
    text-align: center;
}


.date-input span.fa.fa-calendar {
    color: #83CAEE;
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 20px;
}
.date-input {
    position: relative;
    cursor: pointer;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    border: none;
    border-radius: 0;
    background: #3db5e6;
}
.ui-widget-content {
    background: #fff;
    border-radius: 0;
}
.ui-datepicker-calendar thead {
    border-bottom: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #fff!important;
    font-weight: normal;
    border: 1px solid #ddd;
}
.form-actions-wrapper {
    color: #fff;
}
.form-actions-wrapper > div:hover {
    cursor: pointer;
    text-decoration: underline;
}
.map-section {
    position: relative;

}
.map-section .map-loading {
    position: absolute;
    background: rgba(255, 255, 255, 0.52);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.map-section .map-loading .fa {
    display: block;
    font-size: 68px;
    width: 20px;
    left: 50%;
    position: absolute;
    top: 40%;
    margin-left: -10px;
    color: #999;
}
.map-search-results-wrapper {
    background: #3db5e6;
    color: #fff;
    padding-top: 20px;
}
.search-results-title {
    font-size: 28px;
    text-transform: uppercase;
    border-right: 2px solid;
    padding-right: 20px;
    margin-right: 20px;
}
.map-search-results-wrapper .see-more {
    max-width: 13%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.map-search-results-wrapper .see-more .search-results-see-more {
    background: #1f7496;
}
.map-search-results-wrapper .label-white {
    height: 25px;
}
.map-search-results-wrapper .label-white-inner {
    background: #fff;
    display: inline-block;
    color: #3db5e6;
    padding: 3px 7px;
}
div#ui-datepicker-div {
    z-index: 99999!important;
}
/**
     * Circles (frontpage stats)
     */
.circle {
    border: 5px solid;
    width: 220px;
    height: 220px;
    display: table;
    color: #fff;
    margin: 60px auto;
}
.circle-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.circle-content .circle-number {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 48px;
}
.circle-content .circle-label {
    font-size: 24px;
}
.front-stats.register-text {
    color: #fff;
    font-size: 20px;
}
.front-stats .register-btn {
    background: #068ecd;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}
.section-front-stats.section-background-image {
    background: url('../images/front-stats-bkg-mobile.png');
}
.section-background-image.section-front-stats {}





// Featured events section mainly at frontpage.
//
// :hover             - Subtle hover highlight.
// .stars-given       - A highlight indicating you've already given a star.
// .stars-given:hover - Subtle hover highlight on top of stars-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
// Styleguide 1.0.2.



.featured-events-wrapper {
    position: relative;
    margin-bottom: 30px;

    h2 {
        text-align: center;
        margin-bottom: 0;
        color: #B6B6B6;
        font-weight: 600;
        padding: 10px;
        text-transform: uppercase;
    }

    & .text-center.front-cta {

        padding: 10px;
        width: 60%;
        margin: 20px auto;
        border: 3px solid #5daad5;
        text-decoration: none;
        font-weight: 800;
        color: #5daad5;

        @media only screen and (min-width: $screen-tablet) {
            position: absolute;
            bottom: initial;
            top: 0;
            max-width: 200px;
            text-align: left;
            left: 0;
            padding: 7px;
            margin-top: 10px;
            }


        & a {
            font-weight: 600;
            }
    }


    & .location-info {
        padding-right: 0;
        margin-right: 0;
    }

    & .owl-pagination {
        display: block;

        @media only screen and (min-width: $screen-desktop) {
          display: block;
        }
    }


    & .featured-event {
        position: relative;

        & .cta {
            display: none;
            }

        &:hover .cta {
            display: block;
            position: absolute;
            background-color: #000;
            margin-top: -36px;
            width: 100%;
            opacity: 0.7;
            color: #fff;
            line-height: 36px;
            padding-left: 5px;
        }

        /* Match any class name that starts with icon */
        & [class^="icon"] {
            height: 17px;
            position: relative;
            top: 3px;
            width: 14px;
            margin-right: 5px;
        }

        & .title {
            font-weight: bold;
            margin: 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 20px;
            font-weight: normal;
            text-align: center;

            @media screen and (min-width: $screen-tablet) {
                text-align: left;
            }

            a {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

            a:active {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

            a:hover {
                color: #484848;
                text-decoration: none;
                font-weight: 700;
            }

        }

        & .featured-event-image {
            position: relative;
            margin-bottom: 20px;
        }

        & span.btn {
            float: right;
        }

        & .location-info {
            font-weight: bold;
            color: #484848;
        }

        & .event-date {
            font-weight: bold;
            color: #484848;
        }

        & span.featured-event-label {
            color: #383838;
            font-weight: bold;
        }

        & span.featured-event-field a {
            color: #383838;
            text-decoration: none;
            word-wrap: break-word;
        }

    }

}
















/*Add venue or event section - frontpage*/

@media only screen and (min-width: $screen-phone)  {
    .add-event-venue-section-wrapper {
        min-height: 335px;
    }
    .add-event-venue-section-wrapper .texts h3 {}
    a.add-link {
        display: block;
        margin: 0 auto 20px;
    }
}
.add-event-venue-section-wrapper {
    background: url('../images/LDS_Conference_Center_interior_panoramic.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    & .texts {
        text-align: center;
        & h3 {
            font-weight: 600;
            font-size: 1.5em;

            @media only screen and (min-width: $screen-tablet)  {
              font-size: 3em;
            }
        }
        & .subtitle {
            font-weight: 300;
            font-size: 1.5em;
            margin-bottom: 50px;

            @media only screen and (min-width: $screen-tablet)  {
              font-size: 3em;
            }
        }
    }
    & a.add-link {

        text-decoration: none;
        color: #5daad5;
        border: 3px solid #5daad5;
        padding: 7px;
        width: 240px;
        margin: 20px auto;
        font-size: 1.3em;
        font-weight: 600;
        display: block;

        @media only screen and (min-width: $screen-tablet)  {
          display: inline;
          min-width: 250px;
          margin: 0 10px 0 0;
          width: 300px;
        }

        & .ac-allcongress-85,
        .ac-allcongress-107 {
            stroke: #5daad5;
            fill: #5daad5;
            display: inline-block;
            height: 30px;
            width: 21px;
            position: relative;
            top: 8px;
        }

        & div.text {
            display: inline-block;
            color: $brand-primary;
            padding-left: 10px;
        }
    }
}






/*Popular and Recent events section homepage*/
.popular-recent-events-wrapper {
    padding: 10px;

    & .popular-recent-events-inner {
        border: 0;
        margin-bottom: 0;

        & ul.nav.nav-pills {
            text-align: center;
            display: inline-block;
            margin: auto;
            font-size: 1.4em;
            font-weight: 600;

            & li {
                display: inline;

                &.active > a {
                  border: 0;
                  color: #000;

                  &:hover {
                      border: 0;
                      color: #B6B6B6;
                  }

                  &:visited {
                      border: 0;
                      color: #B6B6B6;
                  }

                  &:focus {
                      border: 0;
                      color: #000;
                  }

                }


                a {
                    padding: 0 5px 0 0;
                    border: 0;
                    color: #B6B6B6;
                    text-transform: uppercase;
                    background-color: white !important;

                    &:hover {
                        color: #B6B6B6;
                    }
                }
        }
      }

        & span.event-city {
            font-weight: 300;
        }
    }

    & .clearfix {
        text-align: center;
    }

    & .event-views-counter img {
        max-width: 25px;
        max-height: 25px;
    }

    & .views-row {
        padding: 20px;
        border-top: 1px solid #000;

        @media (min-width: $screen-tablet) {
            width: 50%;
            border-top: 0;
            float: left;
        }

        @media (min-width: $screen-desktop) {
            width: 33.33333333%;
        }

        .title {

            a {
            color: #000;
            font-size: 1.4em;
            font-weight: 600;
            }
        }
    }

    & .views-row-first {
        border: none;
    }

}







@media (min-width: $screen-desktop) {

.popular-recent-events-wrapper .views-row.views-row-3,
.popular-recent-events-wrapper .views-row.views-row-4,
.popular-recent-events-wrapper .views-row.views-row-5,
.popular-recent-events-wrapper .views-row.views-row-6 {
    border-top: 1px solid black;
    display: table;
}


}




/*Pro PCOs section*/
.pro-pcos-section-wrapper {
    background: url('/sites/default/files/pco-bg.jpg') no-repeat center center;
    min-height: 330px;
    background-size: cover;
    min-height: 230px;

    @media (min-width: $screen-phone) {
        min-height: 330px;
    }

    h3 {
        font-weight: 600;
        font-size: 1.5em;

        @media (min-width: $screen-phone) {
            font-size: 3em;
        }
    }

    p.sub-text {
        display: none;
        margin-bottom: 40px;
    }

    & a.add-link {
        padding: 0;
        float: left;
        border: 3px solid black;

        & .text {
        text-align: center;
        display: block;
        color: black;
        padding: 7px;
        font-size: 1.5em;
        font-weight: 600;
        }
      }

    & .row .texts {
        color: black;
        text-align: left;
        float: left;
        padding: 20px;
    }

}


/*Venues section*/
.pro-venues-section-wrapper {
    background: url('/sites/default/files/venue-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 230px;

    @media (min-width: $screen-phone) {
        min-height: 330px;
    }

    h3 {
        font-weight: 600;
        font-size: 1.5em;

        @media (min-width: $screen-phone) {
            font-size: 3em;
        }
    }

    p.sub-text {
        display: none;
        margin-bottom: 40px;
    }

    & a.add-link {
        padding: 0;
        float: right;
        border: 3px solid white;
        margin-right: 0;

        & .text {
            text-align: center;
            display: block;
            color: white;
            padding: 7px;
            font-size: 1.5em;
            font-weight: 600;
        }
      }

    & .row .texts {
        color: white;
        text-align: right;
        float: right;
        padding: 20px;
    }

}







/*Why AllCongress Section homepage*/
.why-us-wrapper {
    background-color: #5daad5;
    color: white;
    text-align: center;
    padding-bottom: 150px;

    & a.title {
        font-weight: 600;
    }

    & h3 {
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 60px 0;
    }

    & .why-us-teaser {
        & .icon-wrap {
            float: none;
            margin-bottom: -30px;
        }
        & .icon {
            fill: #fff;
            width: 45px;
        }
        & .container.teasers {
            border: none;
        }
    }

    .col-lg-15,
    .col-md-15,
    .col-sm-15,
    .col-xs-15 {
        position: relative;
        min-height: 1px;
        padding-right: 40px;
        padding-left: 40px;
        width: 100%;
        float: left;

        @media (min-width: $screen-phone) {
            width: 20%;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
.why-us-teaser .texts h4 a {
    color: white;
}
.why-us-teaser .texts h4 a:active,
.why-us-teaser .texts h4 a:hover {
    text-decoration: none;
}




/*Stats frontpage section*/
.section-background-image.section-front-stats {
    background-color: #5daad5;
}
.front-stats .register-btn {
    border: 5px solid white;
    background-color: #5daad5;
}
.section-front-stats.section-background-image {
    background-image: none;
}
.why-us-teaser .texts {
    float: none;
    margin: auto;
}
.circle-content .circle-number {
    margin-bottom: 0;
}
.circle-label {
    font-size: 1.6em;
    padding-top: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.circle {
    margin: 60px auto 20px;
}
.text-center.front-stats a.register-btn {
    margin-top: 50px;
    margin-bottom: 40px;
}
// center text with css as per http://stackoverflow.com/a/25183987/6341705
.section-front-stats {
    & .donut-inner {
        & h5 {
            position: relative;
            display: block;
            text-align: center;
            font-size: 3.8em;
            color: #fff;
            margin: -55% 0;
            padding: 0;
        }
    }
}
/*Medical news frontpage section*/
.medical-news-wrapper {
    & h2 {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: #484848;
    }
    & .summary p {
        max-height: 80px;
        overflow: hidden;
        margin-bottom: 40px;
    }
    & .title {
        height: 20px;
        overflow: hidden;
        & a {
            color: #484848;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    & .more-link {
        text-align: center;
        margin: 0 auto;
    }
}
.medical-news-wrapper .views-row.views-row-3 {
    border-top: 0;
}
.view.view-view-medical-news.view-id-view_medical_news.view-display-id-default.view-dom-id-0717af75209283f4d2e4897dd4b6938b.contextual-links-region.show-all-med-news {}
.medical-news-wrapper .view.view-view-medical-news {
    height: 350px;
    overflow: hidden;
}



/*Newsletter Section homepage*/
.section-newsletter-subscribe {
    min-height: 300px;
    text-align: center;
    background-color: #E6E6E6;
    color: #484848;
    display: table;
    width: 100%;
    padding-bottom: 20px;

    & h3.newsletter {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2.5em;
    }

    & .container {
        display: table-cell;
        vertical-align: middle;
    }

    // Remove border-radius from select  http://stackoverflow.com/questions/24210132/remove-border-radius-from-select-tag-in-bootstrap-3

    & select#edit-submitted-specialty {
        max-width: 280px;
        border: 0;
        margin: 10px auto;
        padding: 0 10px;
        height: 50px;
        background-color: white;
        color: #9e9e9e;
        @include border-radius(0);
        -webkit-appearance: none;

        &.form-control {
          box-shadow: none;
          -moz-box-shadow:none;
          -webkit-box-shadow:none;
        }


    }

    & input#edit-submitted-e-mail {
        max-width: 255px;
        border: 0;
        margin: 10px auto;
        padding: 0 10px;
        height: 50px;
        background-color: white;
        color: #9e9e9e;
        @include border-radius(0);
        -webkit-appearance: none;

        @media (min-width: $screen-tablet) {

        }


        @media (min-width: $screen-desktop) {
          height: 40px;
          max-width: 280px;
        }

        &.form-control {
          box-shadow: none;
          -moz-box-shadow:none;
          -webkit-box-shadow:none;
        }
    }

    & select#edit-submitted-specialty {
        display: block;

        @media (min-width: $screen-desktop) {
          height: 40px;
        }
    }

    & .news-desc {
        margin-bottom: 25px;
    }

    & button.webform-submit.button-primary.btn.btn-default.form-submit {
        background-color: #ff9900;
        font-weight: 600;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.4em;
        padding: 10px 20px;
        width: 255px;

        @media (min-width: $screen-desktop) {
            margin-top: -1px;
            height: 40px;
            border-radius: 0;
            box-shadow: none;
            padding: 5px 10px;
            width: 155px;
        }
    }


}





@media (min-width: $screen-desktop) {
    .section-newsletter-subscribe .form-actions,
    .section-newsletter-subscribe .mail-wrappper.form-item.webform-component.webform-component-email.webform-component--e-mail.form-group,
    .section-newsletter-subscribe .specialty-form-wrapper.form-item.webform-component.webform-component-select.webform-component--specialty.form-group {
        display: inline-block;
    }


}





/*In other words Section homepage*/
.in-other-words {
    padding-top: 40px;
    min-height: 550px;
    background: url('/sites/default/files/testimonials.png') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;

    svg {
        fill: #fff;
        width: 110px;
    }
    .testimonials-list {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    .in-other-words span.testimonial-location,
    span.testimonial-author {
        font-size: 20px;
    }
    .testimonials-list .owl-wrapper {
        margin-top: 50px;
    }
}




.partners-wrapper {
    & h3 {
        font-size: 2.5em;
        margin: 40px;
    }
}








/*Create custom col-md- bootstrap-style to get five items in a row*/
.col-lg-15,
.col-md-15,
.col-sm-15,
.col-xs-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    float: left;
}
@media (min-width: $screen-tablet) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: $screen-desktop) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



.medical-news-wrapper .publish-date.col-lg-4.col-md-4.col-xs-4.col-sm-4 {
    padding-right: 0;
}
/*.medical-news-wrapper .views-row.views-row-3, .medical-news-wrapper .views-row.views-row-4, .medical-news-wrapper .views-row.views-row-5,
.medical-news-wrapper .views-row.views-row-6 {
    display:none;
}
*/
.medical-news-wrapper .more-link a {
    color: #484848;
    font-weight: 800;
    text-transform: uppercase;
    border: 3px solid #484848;
    padding: 5px;
    margin: auto;
    text-align: center;
    display: block;
    width: 200px;
    font-size: 18px;
    max-height: 50px;
}
.medical-news-wrapper {
    margin-bottom: 30px;
}
@media (max-width: $screen-desktop) {
    /*Map Section*/
    .map-cta {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        background: rgba(60, 160, 201, 0.84);
        padding-top: 130px;
        z-index: 9999;
    }
    .map-section {
        position: relative;
    }
    /*Hide everything else temporarily*/

    .search-by-specialty-dropdown {
        display: none;
    }
    .map-canvas-wrapper {
        min-height: 220px;
        background: #e9e9e9;
        width: 100%;
        height: auto;
    }
    .map-cta h2.text-center span {
        font-weight: 800;
    }
    .map-cta h2.text-center {
        font-weight: 300;
        font-size: 150%;
    }
    .map-cta {
        padding-top: 30px;
        background: rgba(93, 170, 213, 0.84);
    }
    .map-cta button.btn.btn-warning {
        background-color: #FFA300;
        font-weight: 800;
        display: inline-block;
        border-radius: 0;
    }
    .map-cta .tap {
        height: 36px;
        background-color: white;
        color: #d5d5d5;
        vertical-align: middle;
        width: 50%;
        margin: 0 20px;
        display: inline-block;
        line-height: 36px;
        padding-left: 3px;
        font-weight: 800;
    }
    .map-cta div#search-popup {
        text-align: center;
    }
}
@media (min-width: $screen-desktop) {
    a.add-link {
        display: inline-block;
        margin-right: 10px;
    }

    .pro-pcos-section-wrapper p.sub-text,
    .pro-venues-section-wrapper p.sub-text {
        display: block;
    }
    .pro-venues-section-wrapper p.sub-text {
        margin-left: 30px;
    }
    .pro-pcos-section-wrapper p.sub-text {
        margin-right: 30px;
    }
    /*.medical-news-wrapper .views-row.views-row-3, .medical-news-wrapper .views-row.views-row-4{
	    display:block;
	}*/
    /*Fix*/
    .medical-news-wrapper .more-link a {
        display: inline-block;
    }
    .medical-news-wrapper .views-row {
        border-top: 1px solid black;
        padding-top: 30px;
    }
    .medical-news-wrapper .views-row.views-row-1,
    .medical-news-wrapper .views-row.views-row-2 {
        border: 0;
    }
    .medical-news-wrapper .view.view-view-medical-news {
        height: 400px;
        overflow: hidden;
    }
    .why-us-wrapper .col-md-15.col-lg-15.col-sm-6.col-xs-12 {
        margin-top: 20px;
    }



}
@media (min-width: $screen-desktop) {
    /*Sidebar fix*/
    .main-container .container-fluid .row section.col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .main-container .container-fluid .row {
        margin-left: 0;
        margin-right: 0;
    }

    /*.medical-news-wrapper .views-row.views-row-5, .medical-news-wrapper .views-row.views-row-6 {
	    display: block;
	}*/
    .more-link {
        display: block;
        width: 200px;
        height: 41px;
        bottom: 30px;
        left: 50%;
        margin-left: -100px;
    }
    .medical-news-wrapper {
        margin-bottom: 70px;
    }
}
.show-all-med-news {
    height: 100% !important;
}
@media (min-width: $screen-desktop) {
    .map-search-submit {
        display: inline-block;
        width: 10%;
        height: 33px;
        position: relative;
        top: -13px;
        left: 5px;
        right: initial;
    }
    .map-search-submit input {
        background-color: orange;
        padding: 0 10px;
        line-height: 35px;
        font-weight: 800;
        text-transform: uppercase;
        width: 100%;
    }

    .main-search-inner-content .icon {
        stroke: #fff;
        fill: #fff;
        float: right;
        position: relative;
        height: 17px;
        width: 17px;
        margin-top: 6px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .search-by-specialty-wrapper {
        float: none;
        min-height: 35px;
        width: 13%;
        background: transparent;
        color: #fff;
        margin-left: -10px;
        margin-right: 0;
        padding-left: 0;
        display: inline-block;
        position: relative;
        top: -12px;
    }
    .search-by-specialty-inner {
        background: transparent;
        padding-left: 0;
        margin: 0 10px;
        cursor: pointer;
        border: 2px solid white;
        height: 35px;
    }
    .search-by-specialty-wrapper .text-wrapper {
        padding-top: 0;
        float: none;
        width: 100%;
        position: relative;
        display: inline-block;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    }
    .search-by-specialty-wrapper .text-wrapper:after {
        content: '';
        display: block;
        position: absolute;
        right: 7px;
        width: 0;
        border-top: 5px solid transparent;
        border-left: 5px solid #fff;
        border-bottom: 5px solid transparent;
        top: 11px;
    }
    .main-search-inner {
        display: inline-block;
        float: none;
        width: 100%;
        position: relative;
        padding: 0;
        background: transparent;
    }
    .tagit-wrapper.clearfix {
        display: inline-block;
        width: 47%;
    }
    .search-by-lists {
        display: inline-block;
        position: relative;
    }
    .main-search-inner .search-by {
        margin-bottom: 0;
    }
    .main-search-inner .search-dropdown {
        color: #fff;
        background: transparent;
        border: 2px solid white;
        height: 35px;
        font-weight: 800;
        line-height: 32px;
        padding: 0 20px 0 10px;
    }
    .main-search-inner .search-dropdown.dropd:after {
        right: 3px;
        top: 13px;
    }
    .search-by-date .search-dropdown.dropd .icon {
      stroke: #fff;
    fill: #fff;
    float: right;
    position: relative;
    height: 17px;
    width: 17px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;

    }
    .search-by-date .search-dropdown {
        padding-left: 5px;
        padding-right: 0;
    }
    span.icon.icon-ac-allcongress-webfont-94 {
        font-size: 23px;
        color: white;
        vertical-align: middle;
        position: relative;
        top: -10px;
    }
    .main-search-wrapper {
        bottom: 250px;
    }
    .search-dropdown-content.dropd-date,
    .search-dropdown-content.dropd-location,
    .search-dropdown-content.dropd-type,
    .specialties {
        background: rgba(24, 65, 97,0.9);
    }
    .specialties .form-actions-wrapper {
        border: 0;
    }
    .specialties .form-actions-wrapper div {
        float: none;
        text-align: center;
    }
    .specialties {
        background: #184161;
        background: rgba(24, 65, 97,0.9);
    }
    .form-actions-wrapper.clearfix,
    .specialties .form-actions-wrapper {
        border: 0;
    }
    .search-dropdown-content .form-actions-wrapper,
    .specialties .form-actions-wrapper {
        text-align: center;
    }
    .search-dropdown-content .form-actions-wrapper .btn,
    .specialties .form-actions-wrapper .btn {
        background: transparent;
        box-shadow: none;
        border: 3px solid white;
        line-height: 36px;
        font-weight: 800;
        line-height: 30px;
        vertical-align: middle;
        @include border-radius(0);
    }


    .search-dropdown-content .form-actions-wrapper .ok-btn,
    .specialties .form-actions-wrapper .ok-btn {
      @include ok-btn();
    }

    .search-dropdown-content .form-actions-wrapper .close-btn,
    .specialties .form-actions-wrapper .close-btn {
      @include close-btn();
    }
    .specialties .form-actions-wrapper .ok-btn {
        @include ok-btn();
    }
    .specialties .form-actions-wrapper .close-btn {
        @include close-btn();
    }
    .specialties .form-actions-wrapper .btn:hover {
        text-decoration: none;
    }
    .search-dropdown-content .dropd-item label input[type="checkbox"],
    .specialties .dropd-item input[type="checkbox"] {
        visibility: hidden !important;
    }
    .search-dropdown-content .dropd-item label input[type="checkbox"]:checked:before,
    .specialties .dropd-item input[type="checkbox"]:checked:before {
        visibility: visible;
        content: "\2c";
        display: inline-block;
        font-size: 16px;
        text-align: center;
        font-family: 'allcongress';
        color: orange;
        line-height: 18px;
    }
    .search-dropdown-content .dropd-item label,
    .specialties .dropd-item label {
        font-weight: 300;
    }
    .search-dropdown-content .dropd-item label:hover,
    .specialties .dropd-item label:hover {
        text-decoration: none;
    }
    .search-dropdown-content .dropd-item label.checked,
    .specialties .dropd-item label.checked {
        color: orange;
    }
    .search-dropdown-content.dropd-date.open,
    .search-dropdown-content.dropd-location.open,
    .search-dropdown-content.dropd-type.open {
        z-index: 99999;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100% !important;
    }
    .search-dropdown-content.dropd-date,
    .search-dropdown-content.dropd-location,
    .search-dropdown-content.dropd-type {
        display: none;
    }
    .search-dropdown-content.dropd-type.open form .row {
        width: 50%;
        margin: auto;
    }
    .dropd-date form,
    .dropd-location form,
    .dropd-type form,
    .search-by-specialty-dropdown.open .specialties form {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dropd-date .title,
    .dropd-location .title,
    .dropd-type .title,
    .specialties .title {
        color: white;
        text-align: center;
    }
}
