/* Promote event page styling */

.promote-event-section-wrapper {
    min-height: 550px;
    background: #003333 url('/sites/default/files/promoteyourevent_background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 60px 0;

    h2 {
        font-weight:300;
        margin-top: 0;
        text-align: center;
    }

    .icon {
      width: 150px;
      display: block;
      fill: #fff;
      text-align: center;
      margin: auto;
    }

    .start-btn {
        margin-top: 50px;
        font-weight:800;
        margin-bottom: 40px;
        @include border-radius(0);
    }

    .subtitle {
        font-weight:300;
        font-size: 14px;
    }

    .start-btn {
        margin-top: 50px;
        font-weight:800;
        margin-bottom: 40px;
        text-transform: uppercase;
        background-color: $brand-primary;
        color: #fff;
        font-size: 20px;
        border: none;
        @include border-radius(0);
    }


}





.promote-deserve-section-wrapper {
    min-height: 680px;
    background: #333 url('/sites/default/files/promoteyourevent_firstclass.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 60px 0;

    h2 {

        margin-top: 0;
        color: #003333;
        text-transform: uppercase;
        text-align: center;
    }

    .subtitle {
        font-weight:300;
        font-size: 120%;
        color: #003333;
    }

    .icon {
        font-size: 100px;
        display: block;
    }

    .subtitle {
        font-weight:300;
        font-size: 120%;
    }


}



.promote-visibility-section-wrapper {
    min-height: 550px;
    background-color: #5DAAD5;
    background-size: cover;
    color: white;
    padding: 60px 0;
}
.promote-visibility-section-wrapper h2 {
    font-weight:300;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}
.promote-visibility-section-wrapper h3 {
    font-weight:300;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}
.promote-visibility-section-wrapper .subtitle {
    font-weight:300;
    font-size: 120%;
    padding-bottom: 40px;
}
.promote-visibility-section-wrapper .icon {
  display: block;
    fill: #fff;
    width: 100px;
    text-align: center;
    margin: 20px auto;
}
.promote-visibility-section-wrapper .btn {
  background-color: #ff9900;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 120%;
  margin-top: 20px;
    @include border-radius(0);
}
.promote-increase-section-wrapper {
    min-height: 550px;
    background-color: #333;
    background-size: cover;
    color: white;
    padding: 60px 0;
}

.promote-increase-section-wrapper h2 {
    font-weight:300;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}
.promote-increase-section-wrapper .subtitle {
    margin-bottom: 50px;
}
.promote-increase-section-wrapper .btn {
  font-weight: 800;
  border: 0;
  color: #fff;
  background-color: $brand-primary;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 120%;
  margin-top: 120px;
    @include border-radius(0);
}

/* Statistics charts section*/
.donut-inner {
   margin-top: -100px;
   margin-bottom: 100px;
}
.donut-inner h5 {
  position: relative;
display: block;
text-align: center;
font-size: 3.8em;
font-weight: 300;
color: #fff;
margin: -55% 0;
padding: 0;
}
.donut-inner span {
   font-size: 12px;
}
