footer {
    background-color:#5DAAD5;

    & a {
        color:white;
    }

    & .separator {
       border-top:1px solid white;
       border-bottom:1px solid white;
       padding:20px 0px;
    }

    /* Match any class name that starts with icon */
    & [class^="icon"] {
      height: 17px;
      position: relative;
      top: 3px;
      fill: #fff;
      width: 12px;
    }

    & .footer-copyright {
        text-align:center;
        background-color:#5daad5;
        line-height:50px;
        color: #fff;
        margin-top:20px;
        height:100%;

        & .logo-text {
          font-weight: 200;

          & span {
            font-weight: 600;
          }
        }
    }

    & .footer-group1 ul li {
        margin-bottom: 0.5em;

        & h3 {
            color:#b3ddf5;
            font-weight: 600;

        }
    }
}


/*Footer mobile*/

footer .mobile-footer-group1 a , footer .mobile-footer-group2 a{
    padding: 0.5em;
    text-align:center;
    font-size: 16px;
}

footer .mobile-footer-group1, footer .mobile-footer-group2{
    margin-top:20px;
    margin-bottom:20px;
}




footer .social-icons .separator {
    border-top:0px;
    padding-top:0;

}



footer .footer-copyright .rights{
    line-height:20px;
    font-size:12px;
    margin-bottom:30px;

}

footer .register-btn a {
    border:3px solid white;
    text-transform: uppercase;
    display:inline-block;
    margin:auto;
    margin-top:15px;
}

footer .register-btn {
   display:inline-block;
   margin:auto;
   text-align:center;
}





footer .separator {
    height: 180px;
    display: block;

    @media (min-width: $screen-phone) {
          height: 80px;
    }

}




    footer.page-footer .register-btn a {
        margin-top: 0;
    }
    footer.page-footer .footer-group1 {
        font-size: 1;
    }
    footer.page-footer .footer-group1 .social-link .social-text {
        padding-left: 10px;
        font-size: 15px;
    }
    footer.page-footer .footer-group1 .social-link span {
        font-size: 20px;
    }
