// Navigation.

ul li {
    list-style-type: none;
}

.header {
    &__top-menu {
        background-color: $brand-primary;
        color: #fff;
        padding: 30px 10px 10px 10px;
        text-align: center;

        @media screen and (min-width: $screen-tablet) {
            padding: 30px 20px 10px 20px;
        }

        @media screen and (min-width: $screen-desktop) {
            text-align: left;
        }


        & .menu-btn{
            width: 100px;
            font-weight: 700;
            font-size: 19px;
            text-transform: uppercase;

            color: #FFF;
            text-align: left;
            cursor: pointer;

            @media screen and (min-width: $screen-tablet) {
                text-align: center;
                padding: 10px;
            }


          	&:hover{
          		opacity: 0.6;
          	}
        }

        &__logo {
          display: inline-block;

          .logo-text {
            height: 48px;
            margin-bottom: 0px;
            font-size: 28px;
            font-family: 'Kelson';
            font-weight: 200;

            @media screen and (min-width: $screen-tablet) {
                font-size: 38px;
            }

            span {
              font-family: 'Kelson';
              font-weight: 600;
              font-size: 28px;

              @media screen and (min-width: $screen-tablet) {
                  font-size: 38px;
              }
            }
          }





        }

        a {
          color: #fff;
        }

        &__large-menu {
          display: inline-block;
          vertical-align: bottom;
          margin-bottom: 0px;
          line-height: 30px;

          li {
            -webkit-transition: background-color .3s;
            -moz-transition: background-color .3s;
            -o-transition: background-color .3s;
            -ms-transition: background-color .3s;
            transition: background-color .3s;
            float: left;
            padding: 0;

            a {
              font-weight: 700;
              display: block;
              padding: 0 10px;
            }
          }
        }


        &__secondary-menu {
          margin-top: -35px;

          .second-menu {
            display: inline-block;
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;

            & .navbar-nav {

                & li {
                  margin: 5px 0;
                  float: left;

                  &.first {
                    margin-left: 15px;
                  }

                  a {
                    padding: 5px;
                    margin: 5px 0;
                  }
                }
            }
          }

          .language-selection {
            display: inline-block;
            font-size: 14px;
            font-weight: 800;
            vertical-align: top;
            margin-top: 0;

            @media screen and (min-width: $screen-tablet) {

            }


            & .form-group {

                & select {
                  width: 40px;
                  text-transform: uppercase;
                  background-color: #5daad5;
                  border: 0;
                  top:-5px;
                  color: white;
                  box-shadow: none;
                  webkit-box-shadow: none;
                  display: table-cell;
                  font-size: 19px;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  appearance: none;
                  position: relative;
                  display: inline-block;

                  @media screen and (min-width: $screen-phone) {
                    top:35px;
                  }

                  @media screen and (min-width: $screen-tablet) {
                    top:40px;
                  }

                  @media screen and (min-width: $screen-desktop) {
                    font-size: 13px;
                    top:8px;
                  }

                  }

                &:after {


                  content: "▼";
                  position: absolute;
                  top: 35px;
                  right: 0;
                  bottom: 0;
                  font-size: 60%;
                  line-height: 30px;
                  padding: 0 20px;

                  color: white;

                  pointer-events:none;

                  -webkit-border-radius: 0 6px 6px 0;
                  -moz-border-radius: 0 6px 6px 0;
                  border-radius: 0 6px 6px 0;

                  @media screen and (min-width: $screen-tablet) {
                    padding: 0 30px;
                    top:40px;
                  }

                  @media screen and (min-width: $screen-desktop) {
                    padding: 0 40px;
                    top:5px;
                  }

                  }

                }



          }

          .register-btn {
              text-align: center;
              vertical-align: middle;
              border: 3px solid white;
              max-width: 200px;
              margin: -10px 20px;
              font-weight: 700;
              padding: 7px
          }
        }

      }
}





@media (min-width: $screen-phone) {

	/*Top navigation menu*/
	#my-menu{
   		height:100%;
	}

	#my-menu li{
    	width:100%;
	}

	nav.top{

    	background-color:#5daad5;
	}

	.mm-controllers img {
    width:25px;
    height:25px;
	}

	nav a.logo {
	    position:relative;
	    line-height:112px;
	    vertical-align:middle;
	    margin:0px;
	    display:inline-block;
	    width: 60%;
    	left: 20%;
    	text-align: left;

	}
}


@media (min-width: $screen-phone) {

  /*Top menu & language dropdown*/

  nav.top .language-selection.col-xs-3 {
      height:56px;
      padding-right:5px;
  }

  nav.top .language-selection.col-xs-3  .form-control {
      text-transform:uppercase;
      background-color:#5daad5;
      border:0;
      color:white;

      box-shadow:none;
      webkit-box-shadow:none;
      vertical-align:middle;
      display:table-cell;
      font-size:18px;
  }

  .logo-text {
      font-size:24px;
      font-weight: 300;
  }

  .logo-text span{

  }

  nav.top .form-item.form-item-lang-dropdown-select.form-type-select.form-group {
      float:right;
  }

  nav.top .row .col-xs-6 {
      text-align:center;
  }

  /*mm-menu style*/

  .mm-navbar .mm-title {
      display:none;
  }

  div#mm-1 {
      background-color:#5daad5;
      box-shadow:white;
      color:white;
      text-transform:uppercase;

      font-size:16px;
      box-shadow: inset -2px -3px 60px -2px #5DAAD5;
  	-webkit-box-shadow: inset -2px -3px 60px -2px #5DAAD5;
  	-moz-box-shadow: inset -2px -3px 60px -2px #5DAAD5;
  	-o-box-shadow: inset -2px -3px 60px -2px #5DAAD5;
  }


  .mm-menu .mm-listview>li{
      border-color:transparent;
  }

  .mm-navbar {
      border:0;
  }

  .mm-menu {
      border-color:transparent;
  }


  #my-menu .mm-panel.mm-hasnavbar .mm-navbar {
      display: none;
  }


  #my-menu li.menu-list-1 span {
      display:table-cell;
      vertical-align:middle;
      font-size:19px;
      padding-right:10px;
      padding-top:2px;
  }

  #my-menu li.menu-list-1 span.text {
      font-size:13px;
      font-weight: 800;
      padding:0;
  }

  #my-menu  li.menu-list-1 span.glyphicon-home {
      font-size:14px;
  }

  #my-menu li.menu-list-1.bottom {
      padding-bottom:20px;
  }

  #my-menu li.menu-list-2.top {
      border-top:1px solid white;
      padding-top:20px;
  }


  #my-menu li.menu-list-3 a{
      padding-top:20px;
      padding-bottom:20px;
      border-top:1px solid white;
  }

  #my-menu li.menu-list-2.bottom {
      padding-bottom:20px;
  }

  #my-menu li.menu-list-4.top {
      padding-top:20px;
      background-color:#484848;
  }

  li.menu-list-4.bottm{
      background-color:#484848;
      padding-bottom:100%;
  }

  #my-menu li.menu-list-3 .register-btn{
      border:2px solid white;
      max-width:200px;
      padding:7px 10px;
      text-align:center;
    //  margin-bottom:20px;
  }

}

@media (min-width: $screen-desktop) {

  nav.top .top-menu .row {
	     margin-left: auto;
	     margin-right: auto;
	     position:relative;
	     padding-top:30px;
	     padding-left: 20px;
    	 padding-right: 20px;
	}

	nav.top .top-menu .logo{
	    display:inline-block;

	}


	nav.top .top-menu ul.large-menu {
	    display:inline-block;
	    vertical-align:bottom;
	    line-height:30px;
	}

	nav.top .top-menu ul.large-menu li a {
	    font-size:14px;
	}

	nav.top .top-menu .language-selection, nav.top .top-menu .second-menu {
	    display:inline-block;
	     font-size:14px;
	}


	nav.top .top-menu .second-menu li.last.leaf{
	    border:0;
	}


	nav.top .language-selection {
	    height: 50px;
	}

	nav.top .language-selection .form-control {
	    text-transform:uppercase;
	    background-color:#5daad5;
	    border:0;
	    color:white;

	    box-shadow:none;
	    webkit-box-shadow:none;
	    vertical-align:middle;
	    display:table-cell;
	    font-size:13px;
	}



	nav.top .pull-right.secondary-menu.visible-md.visible-lg {
	    margin-top:-35px;
	}

	nav.top .pull-right.secondary-menu .clearfix{
	    height:45px;
	}

	nav.top .register-btn {
	    height:40px;
	    text-align:center;
	    line-height:40px;
	    vertical-align:middle;
	    border:2px solid white;
	    max-width:200px;
	    margin-top:10px;
	}










  	nav {
  	    height: auto;
  	}

  	nav.top .pull-right.secondary-menu.visible-md.visible-lg {
  	    width: 200px;
  	}

  	nav.top .pull-right.secondary-menu.visible-md.visible-lg ul li a{
  	    padding-left:4px;
  	    padding-right:4px;
  	}

  	nav.top .top-menu ul.large-menu li a {
  	    font-size: 13px;
  	}

  	nav.top span.logo-text {
  	    height:48px;
  	    margin-bottom:0px;
  	}

}

/*back to top button */

.totop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 5%;
    text-indent: -1000px;
    background-image: url('../images/back_to_top.png');
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    z-index: 2000;
}
