// FONTS
// Import all webfonts here
//https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6


/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Armasen Typefaces
 * License URL: http://www.fontspring.com/licenses/armasen/webfont
 *
 *
 */
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_ultralt-webfont.eot');
    src: url('../fonts/kelson/kelson_ultralt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_ultralt-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_ultralt-webfont.woff') format('woff'), url('../fonts/kelson/kelson_ultralt-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_ultralt-webfont.svg#kelsonthin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_lt-webfont.eot');
    src: url('../fonts/kelson/kelson_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_lt-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_lt-webfont.woff') format('woff'), url('../fonts/kelson/kelson_lt-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_lt-webfont.svg#kelsonlight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_rg-webfont.eot');
    src: url('../fonts/kelson/kelson_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_rg-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_rg-webfont.woff') format('woff'), url('../fonts/kelson/kelson_rg-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_rg-webfont.svg#kelsonregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_md-webfont.eot');
    src: url('../fonts/kelson/kelson_md-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_md-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_md-webfont.woff') format('woff'), url('../fonts/kelson/kelson_md-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_md-webfont.svg#kelsonmedium') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_bd-webfont.eot');
    src: url('../fonts/kelson/kelson_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_bd-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_bd-webfont.woff') format('woff'), url('../fonts/kelson/kelson_bd-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_bd-webfont.svg#kelsonbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson/kelson_extrabd-webfont.eot');
    src: url('../fonts/kelson/kelson_extrabd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kelson/kelson_extrabd-webfont.woff2') format('woff2'), url('../fonts/kelson/kelson_extrabd-webfont.woff') format('woff'), url('../fonts/kelson/kelson_extrabd-webfont.ttf') format('truetype'), url('../fonts/kelson/kelson_extrabd-webfont.svg#kelsonextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}
