// TYPOGRAPHY
// Define all typographic styles in this file.

//Enable font-smoothing
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
		font-family: sans-serif;
	}
	.fonts-loaded body {
		font-family: Kelson, sans-serif;
	}
