// Bootstrap imported mixins.
// =============================================================================

// Utilities
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/hide-text";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/opacity";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/labels";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-filter";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/resize";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/responsive-visibility";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/size";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/tab-focus";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-text";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-emphasis";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-overflow";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

// Components
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/alerts";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/panels";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/pagination";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/list-group";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-divider";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/forms";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/progress-bar";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/table-row";

// Skins
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/background-variant";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/border-radius";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients";

// Layout
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/center-block";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-vertical-align";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "../../.npm/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";


// Custom mixins.
// =============================================================================


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin ok-btn() {
    border: 3px solid orange;
    color: orange;
    width: 100px;
}

@mixin close-btn() {
    width: 100px;
}
